<div class='buffer'>
</div>
    <div class='row'>
      <div class='column'>
        <a href='/cookies'><img src='images/cookie-cc.jpeg'></a>

      </div>
      <div class='column'>
        <a href='/muffins'><img src='images/muffin-bb.jpeg'></a>

      </div>
      <div class='column'>
        <a href='/cakes'><img src='images/cake-co.jpeg'></a>

      </div>
    </div>
